<section id="about" class="section">
        <div class="container-section">
            <div class="row">
                <div class="section-title">                    
                    <h4>About Me</h4>      
                </div>
            </div>

<div class="row">
  <div class="col-sm-3 profile-pic">
      <a class="profile-img" href=""><img src="https://www.dropbox.com/s/yk1j6enk4smdk77/Johanvillegas.jpg?raw=1" alt="image"></a>
      <h3 class="info-position">{{position[0].description}}</h3>
  </div>
  <div class="col-sm-9">
      <div class="about-info row">
          <div *ngFor="let me of aboutme" class="col-sm-6 info-block wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
              
            <div class="info-icon hvr-trim" > 
                  <i class="{{me.class}}" aria-hidden="true"></i>
            </div>
            <div class="info-text">
                  <span>{{me.name}}</span>
                  {{me.description}}
            </div>
          </div>

          <div class="col-sm-12 social-profiles">
              <span>Social Profiles </span>
              <a class="hvr-pulse-grow facebook" href="#" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow twitter" href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow linkedin" href="#" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow behance" href="#" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow pinterest" href="#" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow vimeo" href="#" title="Viemo"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow rss" href="#" title="RSS"><i class="fa fa-rss" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow google" href="#" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a class="hvr-pulse-grow snapchat" href="#" title="Snapchat"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
          </div>

          <div class="col-sm-12 about-content">
            <p style="text-align: justify;">{{position[1].description}}</p>
            <br/>
            <p style="text-align: justify;">{{position[2].description}}</p>
         
              <p class="twke3">
                  <span>Yours sincerely,</span>
                  <span style="font-family: 'Just Another Hand', cursive; font-size: -webkit-xxx-large;">Johan Manuel Villegas Jaramillo</span>
              </p>

          </div>
      </div>
  </div>
</div>
</div>
</section>
