/**div { border-style: dashed; border-width: 1px; }

img {
    width:100%;
}**/

/*************************
     COMMON SECTIONS STYLE
*************************/
.section{
    padding: 30px 0;
}
.container-section{
    padding: 0 60px;
}
.section-title{
    /**
    position: relative;
    text-align: center;**/
    
    margin: 0 auto;
    margin-bottom: 60px;
}
.section-title-line {
    border-top: 1px solid #b7b7b7;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.section-title h4 {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #07cb79;
    color: #363636;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
}

/*************************
     ABOUT SECTION
*************************/
.profile-img{
    display: block;
    border: 1px solid #07cb79;
    padding: 3px;
}
.profile-pic:hover .profile-img{
    background-color: #07cb79;
}
.profile-pic:hover .info-position{
    color: #07cb79;
}
.profile-pic img{
    width: 100%;
}
.info-position {
    text-align: center;
    font-size: 18px;
    margin-top: 27px;
}
.info-block{
    margin-bottom: 28px;
}
.info-icon {
    height: 57px;
    width: 57px;
    background: #07cb79;
    float: left;
}
.info-icon i {
    color: #fff;
    font-size: 20px;
    padding: 20px;
}
.info-icon i.fa.fa-envelope {
    padding: 18px;
}
.info-icon i.fa.fa-calendar {
    padding: 19px;
}
.info-icon i.fa.fa-map-marker {
    padding: 18px 23px;
}
.info-icon i.fa.fa-flag {
    padding: 19px 19px;
}
.hvr-trim {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.hvr-trim:before {
    content: '';
    position: absolute;
    border: white solid 4px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.info-block:hover .hvr-trim:before {
    opacity: 1;
}
.info-text {
    padding-left: 70px;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.info-text span {
    display: block;
    margin-bottom: 5px;
}
.social-profiles{
    margin-bottom: 30px;
}
.social-profiles span {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
.social-profiles a{
    display: inline-block;
    width: 30px;
    height:30px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    color: #999;
    margin-right: 8px;
}
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: #fff;
}
.hvr-pulse-grow.facebook:hover, .hvr-pulse-grow.facebook:focus, .hvr-pulse-grow.facebook:active {
    background-color: #3b5998;
    border-color: #3b5998;
}
.hvr-pulse-grow.twitter:hover, .hvr-pulse-grow.twitter:focus, .hvr-pulse-grow.twitter:active {
    background-color: #55acee;
    border-color: #55acee;
}
.hvr-pulse-grow.linkedin:hover, .hvr-pulse-grow.linkedin:focus, .hvr-pulse-grow.linkedin:active {
    background-color: #007bb5;
    border-color: #007bb5;
}
.hvr-pulse-grow.behance:hover, .hvr-pulse-grow.behance:focus, .hvr-pulse-grow.behance:active {
    background-color: #1769ff;
    border-color: #1769ff;
}
.hvr-pulse-grow.pinterest:hover, .hvr-pulse-grow.pinterest:focus, .hvr-pulse-grow.pinterest:active {
    background-color:  #cb2027;
    border-color:  #cb2027;
}
.hvr-pulse-grow.vimeo:hover, .hvr-pulse-grow.vimeo:focus, .hvr-pulse-grow.vimeo:active {
    background-color:  #00b3ec;
    border-color:  #00b3ec;
}
.hvr-pulse-grow.rss:hover, .hvr-pulse-grow.rss:focus, .hvr-pulse-grow.rss:active {
    background-color:  #ff6600;
    border-color:  #ff6600;
}
.hvr-pulse-grow.google:hover, .hvr-pulse-grow.google:focus, .hvr-pulse-grow.google:active {
    background-color:  #dd4b39;
    border-color:  #dd4b39;
}
.hvr-pulse-grow.snapchat:hover, .hvr-pulse-grow.snapchat:focus, .hvr-pulse-grow.snapchat:active {
    background-color:  #fffc00;
    border-color:  #fffc00;
}
.about-content p {
    margin-bottom: 15px;
    line-height: 30px;
}
.twke3 {
    margin-top: 50px;
}
.twke3 span {
    display: block;
    margin-bottom: 15px;
}
twke3 img {
    margin-top: 15px;
}
