

<section id="skills" class="section wow fadeInUp">
  <div class="container-section">
      <div class="row">
          <div class="section-title">
              <h4>Skills</h4>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-6 skill" *ngFor="let skill of skills">
              <div class="progress">
                  <div class="lead"> <i class="fa fa-desktop" aria-hidden="true"></i> {{skill.name}} </div>
                  <div class="progress-bar wow fadeInLeft" [style.data-progress.%]="skill.percent"  [style.width.%]="skill.percent"  data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>{{skill.percent}}%</span></div>
              </div>
          </div>
      </div>

      <div class="row skill-language">

          <h2>LANGUAGE SKILLS & KNOWLEDGE</h2>

          <div class="col-sm-12">
              <div class="skills row">
                  <div class="col-md-3">
                      <div class="percentage easyPieChart" data-percent="95" data-delay="100"><span>95</span>%<canvas width="165" height="165"></canvas></div>
                      <small>English</small>
                  </div>
                  <div class="col-md-3">
                      <div class="percentage easyPieChart" data-percent="75"><span>75</span>%<canvas width="165" height="165"></canvas></div>
                      <small>Spanish</small> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>