/*************************
     COMMON SECTIONS STYLE
*************************/
.section{
    padding: 30px 0;
}
.container-section{
    padding: 0 60px;
}
.section-title{
    margin-bottom: 60px;
    position: relative;
    text-align: center;
}
.section-title:before {
    border-top: 1px solid #b7b7b7;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
.section-title h4 {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #07cb79;
    color: #363636;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
}