<div class="jumbotron home"  [ngStyle]="{'background-image': 'url(' + imgBackground + ')'}">
<div class="home-overlay"></div>
    <div class="home-content">
    <div class="home-intro">
        <div class="row">
        <div class="col-sm-3">
            <div id="circle" class="logo"> 
            <img [src]="imgLogo" alt="Home" style="margin: 5px;"/>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>{{title}}</h2>
            <h1>{{name}}</h1>
                <div class="type-wrap">
                    <span id="typed" style="white-space:pre;">{{position}}</span><span class="typed-cursor">|</span> 
                </div>
        </div>
        </div>
    </div>
    </div>
</div>